@media screen and (max-width: 700px){
	.row {
		
	}

	.master-list-container {
		height: 25%;
		width: 100%;
		display: flex;
	}

	.search {
		visibility: hidden;
		margin-top: auto;
	}

	.favorites-list {
		width: 80%;
		display: flex;
	}

	.nearby-places-list{
		height: 100%;
	}
	
	.map {
		height: 75%;
		width: 100%;
	}

	.current-place {
		width: 100%;
	}

	.current-place > div > ul {
		display: flex;
		flex-wrap: wrap;
	}

	.weather-container{
		position: absolute;
		right: 0;
		width: 20%;
		top: 0;
	}

	.show {

	}

	.show > a {
		padding: 0px 5px 0px 5px;
	}

	.hide-when-small {
		visibility: hidden;
		display: none;
	}
}

@media screen and (min-width: 701px){
	.row {
		display: flex;
	}
}