body {
	height: 100vh;
}

.container {
	height: 100%;
	width: 100%;
	padding: 0;
	display: flex;
}

.btn {
	white-space: normal;
}

.row {
	height: 100%;
	width: 100%;
	margin: 0;
	display: flex;
}

.master-list {
	height: 100%;
	width: 20%;
}

.favorite-list {
	padding-left: 15px;
}

.list-container ul {
	text-shadow: 0 1px 0 #FFF;
	background: #ddd;
	list-style: none;
	margin: 0;
	padding: 0;
	width: 100%;
}

.list-container: li {
	float: left;
	margin: 0;
	padding: 0;
	position: relative;
	min-width: 25%;
}

.list-container a {
	background: #ddd;
	color: #444;
	display: block;
	padding: 0 25px;
	text-align: center;
	text-decoration: none;
	-webkit-transition: all .25s ease;
       -moz-transition: all .25s ease;
        -ms-transition: all .25s ease;
         -o-transition: all .25s ease;
            transition: all .25s ease;
}

.list-container .dropdown:after {
	content: '>';
}

.list-container .dropdown:hover:after{
	content:'\25bc';
}

.list-container:hover a{
	background: #ccc;
}

.list-container li ul {
	float: left;
	left: 0;
	opacity: 0;
	position: absolute;
	top: 35px;
	visibility: hidden;
	z-index: 1;
	-webkit-transition: all .25s ease;
       -moz-transition: all .25s ease;
        -ms-transition: all .25s ease;
         -o-transition: all .25s ease;
            transition: all .25s ease;
}
.list-container li:hover ul {
    opacity: 1;
    top: 50px;
    visibility: visible;
}
.list-container li ul li {
    float: none;
    width: 100%;
}
.list-container li ul a:hover {
    background: #bbb;
}


/* Clearfix */

.favorites-list:after, .favorites-list:before {
    content:"";
    display:table;
}

.map-container {
	height: 100%;
	width: 80%;
}

.map {
	height: 100%;
	width: 100%;
}
