body {
	height: 100vh;
}

.container {
	height: 100%;
	width: 100%;
	padding: 0;
	display: flex;
}

.btn {
	white-space: normal;
}

.row {
	height: 100%;
	width: 100%;
	margin: 0;
	display: flex;
}


.weather-container {
	position: absolute;
	bottom: 0;
	margin-bottom: 15px;
}
.master-list {
	height: 100%;
	width: 20%;
}

.favorite-list {
	padding-left: 15px;
}

.nearby-items-list .collapse {
	
}


.map-container {
	height: 100%;
	width: 80%;
}

.map {
	height: 100%;
	width: 100%;
}
